<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSBuildTasks" version="1.4.0.78" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net40" />
  <package id="Noesis.Javascript" version="0.7.1.0" targetFramework="net40" />
  <package id="StyleCop.MSBuild" version="4.7.49.0" targetFramework="net40" developmentDependency="true" />
</packages>