<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSBuildTasks" version="1.4.0.65" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net40" />
  <package id="Noesis.Javascript" version="0.7.1.0" targetFramework="net40" />
  <package id="StyleCop.MSBuild" version="4.7.47.0" targetFramework="net40" />
</packages>